<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Inicio</title>
  </head>

  <body>
    <main id="grid-contenedor">

      <div class="logo"> <img class="nav__logo" src="../img/logo.png" alt="logo"> </div>
  
        <nav class="nav">
          <ul class="lista">
            <li><a href="./inicio.html">Inicio</a></li>
            <li><a href="./categorias.html">Categorias</a></li>
            <li><a href="./ofertas.html">Ofertas</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
          </ul>
        </nav>
    
      <div class="bannerhome">
        <img class="home" src="../img/index/bannerhome.png" alt="supermercado" />
      </div>
  
      <section class="grid-fotos">
  
       <div class="productos1">
        <p>Aire acondicionado Bgh Inverter 3430w Frio Calor</p>
          <img class="aire" src="../img/index/Aire-Acondicionado-Bgh-Inverter-3430w-Fr-o-Calor-1-476358.jpg" alt="Aire acondicionado Bgh">
       </div>
  
       <div class="productos2">
        <p>Aire acondicionado Philco 5200w Frio Calor</p>
            <img class="aire" src="../img/index/Aire-Acondicionado-Fr-o-Calor-Philco-5200w-1-472842.jpg" alt="Aire Acondicionado Philco">
       </div>
  
       <div class="productos3">
        <p>Heladera Patrick Blanca</p>   
        <img class="aire" src="../img/index/Heladera-Patrick-277l-Blanca-1-475165.jpg" alt="Heladera Patrick">
       </div> 
  
       <div class="productos4">
        <p>Lavarropas Philco 8K Blanco</p>
         <img src="../img/index/Lavarropas-Philco-8k-Phlf061b-Blanco-1-483218.jpg" alt="Lavarropas Philco">
       </div> 
  
       <div class="productos5">
        <p>Lavarropas Whirpool 6K Blanco</p>
         <img src="../img/index/Lavarropas-Whirlpool-Wnq06abdwa-6k-1-478260.jpg" alt="Lavarropas Whirpool">
       </div>
  
       <div class="productos6">
        <p class="cif">Lavavajilla Whirpool 10 Cubiertos</p>
         <img src="../img/index/Lavavajilla-Whirlpool-10-Cubiertos-1-440716.jpg" alt="Lavavajilla Whirpool">
       </div>
  
    </section>
  
    <div class="banner-fot">
      <img class="fot" src="../img/bannerjuntosnoscuidamos.jpg" alt="">
    </div> 
  
      <footer class="footer">
        <h4 class="h4">Nuestras redes:</h4>
        <ul class="list">
          <li class="lista"><img src="../img/index/facebook.png" alt="Facebook"><a class="efecto" href="#">Facebook</a></li>
          <li class="lista"><img src="../img/index/instagram.png" alt="Instagram"><a class="efecto" href="#">Instagram</a></li>
          <li class="lista"><img src="../img/index/twitter.png" alt=""><a class="efectot" href="#">Twitter</a></li>
        </ul>
      </footer>
  
    </main>
    
  </body>
</html>