<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Ofertas | SuperMarket</title>
  </head>
  <body>

    <main id="grid-contenedor2">

      <div class="logo"> <img class="nav__logo" src="../img/logo.png" alt="logo"> </div>

      <nav class="nav">
        <ul class="lista">
          <li><a href="./layouts/inicio.html">Inicio</a></li>
          <li><a href="./layouts/categorias.html">Categorias</a></li>
          <li><a href="./layouts/ofertas.html">Ofertas</a></li>
          <li><a href="./layouts/contacto.html">Contacto</a></li>
        </ul>
      </nav>

      <div class="bannerOferta">
        <h1>Aprovecha las mejores ofertas!!</h1>
        <img class="ofertas" src="../img/ofertas/ofertas.png" alt="Ofertas" />
      </div>

    <section class="ofertasProductos">

      <div class="ofertas1">
        <p>Antitranspirante Dove 150Ml Go Fresh <span class="precio">$200,00</span></p>
        <img src="../img/ofertas/AntitranspiranteDove.jpg" alt="">
      </div>

      <div class="ofertas2">
        <p>Antitranspirante Dove men 150Ml Cuidado total <span class="precio">$200,00</span></p>
        <img src="../img/ofertas/Antitranspirantedovemen.jpg" alt="">
      </div>

      <div class="ofertas3">
        <p>Antitranspirante Rexona Clinical 110Ml Aerosol <span class="precio">$260,00</span></p>
        <img src="../img/ofertas/Antitranspiranterexonaclinical.jpg" alt="">
      </div>

      <div class="ofertas4">
        <p>Jabon Liquido para diluir Skip 3L <span class="precio">$650,00</span></p>
        <img src="../img/ofertas/Jabonliquidoskip.jpg" alt="">
      </div>

      <div class="ofertas5">
        <p>Jabon Liquido Dove 220Ml Antibacterial <span class="precio">$190,00</span></p>
        <img src="../img/ofertas/Jabonliquidodove.jpg" alt="">
      </div>

      <div class="ofertas6">
        <p>Detergente Cif 500Ml BioActive <span class="precio">$279,99</span></p>
        <img src="../img/ofertas/Detergentecif.jpg" alt="">
      </div>

    </section>

    <div class="banner-fot">
      <img class="fot" src="../img/bannerjuntosnoscuidamos.jpg" alt="">
    </div>
   
    <footer class="footer">
      <h4 class="h4">Nuestras redes:</h4>
      <ul class="list">
        <li class="listaa"><img src="../img/index/facebook.png" alt="Facebook"><a class="efecto" href="#">Facebook</a></li>
        <li class="listaa"><img src="../img/index/instagram.png" alt="Instagram"><a class="efecto" href="#">Instagram</a></li>
        <li class="listaa"><img src="../img/index/twitter.png" alt=""><a class="efectot" href="#">Twitter</a></li>
      </ul>
    </footer>

  </main>

  </body>
</html>
